/*************************
        POLICES
*************************/

@font-face {
    font-family: SpecialElite;
    src: url(../Fonts/specialelite/SpecialElite.woff);
}
@font-face {
    font-family: Cardo;
    src: url(../Fonts/cardo/cardo-regular.woff);
}
@font-face {
    font-family: Cardo;
    src: url(../Fonts/cardo/cardo-bold.woff);
    font-weight:bold;
}
@font-face {
    font-family: Cardo;
    src: url(../Fonts/cardo/cardo-italic.woff);
    font-style:italic;
}


/*************************
        GENERAL
*************************/

body {
    font-size:16px;
    line-height:1.5;
    font-family:Cardo, serif;
    background-color: #fff;
    max-width:420px;
    margin:auto;
}

/*.container { <-- inutile, max-width et margin peuvent être mis directement sur le body
    
} */


/***********************
        HEADER
***********************/

header {
    border-bottom:1px solid black;
}

h1 {
    text-transform:uppercase;
    font-family: SpecialElite;
    font-weight: normal;
    font-size:4em;
    line-height:2;
    text-align:center;
}
header blockquote {
    white-space:pre;
    font-style: italic;
    font-size:1.2em;
}
blockquote::before {
    content:"« ";
}
blockquote::after {
    content:" »";
}
cite {
    font-style:normal;
    display:block;
    text-align:center;
}


/**********************
        MAIN
**********************/
h2 {
    
    text-transform:uppercase;
    font-family: SpecialElite;
    font-weight: normal;
    font-size:2.5em;
    line-height:1.2;
}
h3 {
    font-size:1.5em;
    line-height:1;
    font-family: SpecialElite;
    font-weight: normal;
}
h3::before {
    content:"❧ ";
}
main p:first-letter {
    font-family:SpecialElite;
    font-size:200%;
    vertical-align:text-top;
    float:left;
    padding-right:10px;
}
p {
    text-align: justify;
}
q {
    font-style:italic;
}
a {
    text-decoration:none;
    color:black;
    border-bottom:1px dashed black;
}
em {
    font-style:italic;
}

/*****************************
        FOOTER
******************************/
footer {
    border-top:1px solid black; /*On peut créer une ligne en ajoutant la balise <hr> dans le HTML*/
}
footer blockquote {
    text-align:justify;
    font-style:italic;
    font-size:1.2em;
}
.end {
    font-size:2.5em;
    text-align:center;
}
    
